In [ ]:
#### Planning to work on it during fall break. Got delayed because of mid term exam of another course

In [1]:
import pandas as pd

In [2]:
games= pd.read_csv("/Users/nidhimidha/Desktop/Leagues/data/external/nfl_games.csv")

In [3]:
games.head()

,date,season,neutral,playoff,team1,team2,elo1,elo2,elo_prob1,score1,score2,result1
0,1920-09-26,1920,0,0,RII,STP,1503.947,1300.000,0.824651,48,0,1.0
1,1920-10-03,1920,0,0,AKR,WHE,1503.420,1300.000,0.824212,43,0,1.0
2,1920-10-03,1920,0,0,RCH,ABU,1503.420,1300.000,0.824212,10,0,1.0
3,1920-10-03,1920,0,0,DAY,COL,1493.002,1504.908,0.575819,14,0,1.0
4,1920-10-03,1920,0,0,RII,MUN,1516.108,1478.004,0.644171,45,0,1.0

In [4]:
list(games)

['date',
 'season',
 'neutral',
 'playoff',
 'team1',
 'team2',
 'elo1',
 'elo2',
 'elo_prob1',
 'score1',
 'score2',
 'result1']

In [5]:
games.isnull().sum()

date         0
season       0
neutral      0
playoff      0
team1        0
team2        0
elo1         0
elo2         0
elo_prob1    0
score1       0
score2       0
result1      0
dtype: int64

In [6]:
games.nunique()

date          3330
season          98
neutral          2
playoff          2
team1          101
team2          108
elo1         15659
elo2         15646
elo_prob1    15858
score1          68
score2          63
result1          3
dtype: int64

In [7]:
games['teamA'] = pd.factorize(games.team1)[0] + 1

In [8]:
games.head()

,date,season,neutral,playoff,team1,team2,elo1,elo2,elo_prob1,score1,score2,result1,teamA
0,1920-09-26,1920,0,0,RII,STP,1503.947,1300.000,0.824651,48,0,1.0,1
1,1920-10-03,1920,0,0,AKR,WHE,1503.420,1300.000,0.824212,43,0,1.0,2
2,1920-10-03,1920,0,0,RCH,ABU,1503.420,1300.000,0.824212,10,0,1.0,3
3,1920-10-03,1920,0,0,DAY,COL,1493.002,1504.908,0.575819,14,0,1.0,4
4,1920-10-03,1920,0,0,RII,MUN,1516.108,1478.004,0.644171,45,0,1.0,1

In [9]:
games.nunique()

date          3330
season          98
neutral          2
playoff          2
team1          101
team2          108
elo1         15659
elo2         15646
elo_prob1    15858
score1          68
score2          63
result1          3
teamA          101
dtype: int64

In [10]:
games['teamB'] = pd.factorize(games.team2)[0] + 1

In [11]:
games.nunique()

date          3330
season          98
neutral          2
playoff          2
team1          101
team2          108
elo1         15659
elo2         15646
elo_prob1    15858
score1          68
score2          63
result1          3
teamA          101
teamB          108
dtype: int64

In [12]:
games = games.drop(columns=["team1","team2"])

In [13]:
games.head()

,date,season,neutral,playoff,elo1,elo2,elo_prob1,score1,score2,result1,teamA,teamB
0,1920-09-26,1920,0,0,1503.947,1300.000,0.824651,48,0,1.0,1,1
1,1920-10-03,1920,0,0,1503.420,1300.000,0.824212,43,0,1.0,2,2
2,1920-10-03,1920,0,0,1503.420,1300.000,0.824212,10,0,1.0,3,3
3,1920-10-03,1920,0,0,1493.002,1504.908,0.575819,14,0,1.0,4,4
4,1920-10-03,1920,0,0,1516.108,1478.004,0.644171,45,0,1.0,1,5